{$override* "dev-resources/local-config.edn"
 :login-info
 {:subdomain  #env :kintone-subdomain
  :login-name #env :kintone-login-name
  :password   #env :kintone-password}

 :space
 {:template-id 1}}
